@import 'reset.css';
.hide {
    display: none;
}

.shop-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}


/* .shop-items {
    display: flex;
    grid-template-columns: 1fr, 1fr, 1fr;
    gap: 1rem;
} */

.flex {
    display: flex;
    gap: 1rem;
    /* grid-row: auto; */
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}


/* .card div img {
    width: auto;
    height: fit-content;
} */

.item {
    flex-grow: 3;
    /* text-align: center; */
    /* margin: 20px; */
    display: inline;
}


/* .next {
    display: block;
    text-align: right;
    color: blue;
    margin-top: 20px;
} */


/* Modal window */

#krepselis {}

.modal,
.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content,
.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

#close,
#close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus,
#close1:hover,
#close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btn-form-div {
    display: block;
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
}

#success {
    color: tomato;
    display: inline;
}

#new {
    display: inline;
}


/* Footer */

footer {
    text-align: center;
    margin-top: 50px;
}

footer a {
    color: blue;
}


/* .imgClass {
    width: 30%;
    height: 30%;
} */